section#bikemap {
  padding-top: 100px;

  h1 {
    text-align: center;
    font-size: 40px;
    color: #0B163F;
  }

  .infobox {
    width: 200px;
    text-align: center;
    .available {
      font-size: 15px;
      font-weight: 500;
      width: 50%;
      display: inline-block;
      p {
        margin: 10px;
        font-size: 16px;
      }
    }
  }
}