nav {
  height: 80px;
  position: absolute;
  top: 0;
  width: 100%;

  img {
    margin-top: 10px;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    float: left;
    cursor: pointer;
  }

  ul {
    float: right;
    list-style-type: none;
    
    li {
      margin: 13px;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }

    li:first-child {
      margin-left: 0px;
    }

    li#button {
      background-color: #035EC5;
      color: white;
      padding: 10px 10px;
      border-radius: 19px;
      margin-left: 5px;
    }
  }
}